<template>
    <div>
        <ckeditor :editor="editor" v-model="editorData" :config="editorConfig"></ckeditor>

        Characters: {{ chars }}
        Words: {{ words }}
    </div>
</template>

<script>
import CKEditor from '@ckeditor/ckeditor5-vue2';

// ⚠️ NOTE: We don't use @ckeditor/ckeditor5-build-classic any more!
// Since we're building CKEditor from source, we use the source version of ClassicEditor.
import ClassicEditor from '@ckeditor/ckeditor5-editor-classic/src/classiceditor';

import EssentialsPlugin from '@ckeditor/ckeditor5-essentials/src/essentials';
import BoldPlugin from '@ckeditor/ckeditor5-basic-styles/src/bold';
import ItalicPlugin from '@ckeditor/ckeditor5-basic-styles/src/italic';
import LinkPlugin from '@ckeditor/ckeditor5-link/src/link';
import ParagraphPlugin from '@ckeditor/ckeditor5-paragraph/src/paragraph';

import WordCount from '@ckeditor/ckeditor5-word-count/src/wordcount';
import MathType from '@wiris/mathtype-ckeditor5';

import SimpleUploadAdapter from '@ckeditor/ckeditor5-upload/src/adapters/simpleuploadadapter';

import Image from '@ckeditor/ckeditor5-image/src/image';
import LinkImage from '@ckeditor/ckeditor5-link/src/linkimage';
import ImageUpload from '@ckeditor/ckeditor5-image/src/imageupload';

export default {
    name: 'app',

    components: {
        ckeditor: CKEditor.component
    },

    data() {
        return {
            chars: 0,
            words: 0,
            editor: ClassicEditor,
            editorData: '<p>Content of the editor.</p>',
            editorConfig: {
                plugins: [
                    EssentialsPlugin,
                    BoldPlugin,
                    ItalicPlugin,
                    LinkPlugin,
                    ParagraphPlugin,
                    WordCount,
                    MathType,
                    Image, 
                    LinkImage,
                    ImageUpload,
                    SimpleUploadAdapter
                ],

                wordCount: {
                    displayWords: true,
                    displayCharacters: true,
                    onUpdate: stats => {
                        // Prints the current content statistics.
                        this.chars = stats.characters;

                        this.words = stats.words
                    }
                },

                simpleUpload: {
                    // Feature configuration.
                },

                toolbar: {
                    items: [
                        'bold',
                        'italic',
                        'link',
                        'undo',
                        'redo',
                        'MathType',
                        'ChemType',
                        'uploadImage',
                    ]
                },
            }
        };
    },

    methods: {
        doSthWithWordNumber(param) {
            console.log(param);
        },

        doSthWithCharacterNumber(param) {
            console.log(param);
        }
    }
};
</script>
